<h1> <%= @artist.name %> </h1>
<img src="<%= @artist.picture %>" alt="">

<hr>

<h2> Your planning this month</h2>

<%= month_calendar(events: @posts) do |date, posts| %>
  <%= date.day %>
  <% posts.each do |post| %>
    <div>
      <%= post.published_at.strftime("%H:%M") %> <%= post.title %>
    </div>
  <% end %>
<% end %>

<hr>

 <%= link_to "Plannifier un post", new_artist_post_url(@artist)%>

 <hr>

<h2> Release </h2>


<hr>

<h2> Useful links </h2>
