<div class="marge_base">
  <div class="card_position_show">
    <div class="card_artist_show">
      <div class="artist_name">
        <a> <%= @artist.name %> <a>
      </div>
      <div class="pic_artist_show">
        <%= cl_image_tag @artist.picture.key%>
      </div>
    </div>
  </div>
  <hr>
  <h2> Posts planning on <i class="fab fa-facebook dashboard"></i> </h2>
  <div class="display_cenlendar_planned">
    <div class="card_planned_display">
          <div class="planned_title"> 
             <h3><strong>STATUS WEEK <%= Date.today.strftime("%U") %> </strong> <h3>

              <br>
              <% unless @all_publishable %>
                <h2><span class="badge badge-warning">TO BE UPDATED <i class="fas fa-exclamation-triangle"></i> </span></h2>
                <br>
                <p> <i class="far fa-edit"></i> : <strong> <%= @posts.current_week.select{ |p| !p.publishable? }.size %> </strong> 
                <h6>
                  <div> 
                    <% @artist.posts.current_week.select{ |p| !p.publishable? }.each do |post| %>

                      <%= link_to '#', data: {toggle: "modal", target: "#editPost#{post.id}"} do %>
                        <strong> <%= post.published_at.strftime("%a-%H:%M") %> </strong>
                        <strong> <%= post.artist.name %> </strong>
                      <% end %>    
                    <% end %>
                  </div>
                </h6>
                <br>
                <h6> <i class="fas fa-compact-disc"></i> Album campaign</h6> 
                <h6>
                  <% @albums.each do |album| %>
                    <div>  
                    <strong>  <%= link_to album.name, artist_album_path(album.artist, album) %></strong>
                      <strong><%= album.artist.name %></strong>
                    </div>
                  <% end %>
                </h6>
              <% else %>
                <h1>Status = <span class="badge badge-success">UP TO DATE <i class="fas fa-check"></i> </span></h1>
              <% end %>
            </div>


          
            
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary create-button" class="create-button" data-toggle="modal" data-target="#exampleModal">
            Add an event
            </button>


            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title over-title" id="exampleModalLabel">Add an event</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body over-body">

                  <%= link_to "Plan the release of an album", new_artist_album_url(@artist), role: "button", class: "btn btn-info popover-test modal-button", title: "Popover title", datacontent: "Popover body content is set in this attribute."  %>
                  </a>


                  <%= link_to "Plan a single post", new_artist_post_url(@artist), role: "button", class: "btn btn-info popover-test modal-button", title: "Popover title", datacontent: "Popover body content is set in this attribute."  %>
                  </a>

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary modal-close-button" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    <div class="calendar_display">
      <%= render 'dashboards/calendar', posts: @artist.posts, only_artist: true %>
    </div>
      <hr>
  </div>

  <hr>

  <h2> Release </h2>

  <hr>

  <h2> Useful links </h2>

  <div id="graphstats">
    <canvas id="myChart" data-stats="<%= @stats.to_json %>"></canvas>
  </div>

</div>
