<% all_publishable = @posts.current_week.all?(&:publishable?) %>

   <div class="display_calendar_planned">
      <div class="post_album">
        <h2 class="title" >Your tasks </h2>
        <div class="card_planned_display">
          <div>

            <h3 class="planned_title"><i class="far fa-file-alt"></i> <strong>Post status <br> week <%= Date.today.strftime("%U") %> </strong> <h3>
          </div>
          <br>
          <% unless all_publishable %>
            <h2><span class="check-icon" ><i class="fas fa-exclamation-circle"></i> </span></h2>
            <p> <i class="far fa-edit"></i> : <strong> <%= posts.current_week.select{ |p| !p.publishable? }.size %> </strong>

            <h6>
              <div class= "list-posts">
                <% posts.current_week.select{ |p| !p.publishable? }.each do |post| %>

                  <%= link_to '#', data: {toggle: "modal", target: "#editPost#{post.id}"} do %>
                    <strong> <%= post.published_at.strftime("%a-%H:%M") %> - </strong>
                    <%= post.artist.name %>
                  <% end %>
                <% end %>
              </div>
            </h6>
            <br>

          <% else %>
            <h1 class= "check-icon"> <i class="fas fa-check-circle"></i> </h1>
          <% end %>
        </div>

        <div class="album_campaign">
        <h3 class="planned_title"> <i class="fas fa-record-vinyl post"></i> <strong> Check your upcoming album campaigns </strong> </h3>
        <br>
        <div class="list-posts">
          <% albums.each do |album| %>
              <%= link_to artist_album_path(album.artist, album), class: "list-post" do %>
                <div class="d-flex flex-column">
                  <h4><%= album.name %></h4>
                  <p class="artist-name"><%= album.artist.name %></p>
                </div>
                <span class="badge badge-secondary"><%= album.out_at.strftime("%d/%m/%Y") %></span>
            <% end %>
          <% end %>
        </div>
      </div>
      </div>

      <div class="calendar_display">
        <h2 class="title" >Your posts planning on <i class="fab fa-facebook dashboard" ></i></h2>
        <%= render 'shared/calendar', posts: posts, only_artist: false %>
      </div>
    </div>
