<% all_publishable = @posts.current_week.all?(&:publishable?) %>

   <div class="display_calendar_planned"> 
      <div class="post_album">    
        <div class="card_planned_display">
          <div class="planned_title"> 

            <h3><strong>STATUS WEEK <%= Date.today.strftime("%U") %> </strong> <h3>
          </div>
          <br>
          <% unless all_publishable %>
            <h2><span class="badge badge-warning">TO BE UPDATED <i class="fas fa-exclamation-triangle"></i> </span></h2>
            <br>
            <p> <i class="far fa-edit"></i> : <strong> <%= posts.current_week.select{ |p| !p.publishable? }.size %> </strong> 
            
            <h6>
              <div> 
                <% posts.current_week.select{ |p| !p.publishable? }.each do |post| %>

                  <%= link_to '#', data: {toggle: "modal", target: "#editPost#{post.id}"} do %>
                    <strong> <%= post.published_at.strftime("%a-%H:%M") %> </strong>
                    <strong> <%= post.artist.name %> </strong>
                  <% end %>    
                <% end %>
              </div>
            </h6>
            <br>
    
          <% else %>
            <h1>Status = <span class="badge badge-success">UP TO DATE <i class="fas fa-check"></i> </span></h1>
          <% end %>
        </div>
        <div class="album_campaign">
        <h5> <i class="fas fa-tasks"></i></i> Album campaign</h5> 
        <h6>
          <% albums.each do |album| %>
            <div>  
            <strong>  <%= link_to album.name, artist_album_path(album.artist, album) %></strong>
              <strong><%= album.artist.name %></strong>
            </div>
          <% end %>
        </h6>
      </div>
      </div>
      
      <div class="calendar_display">
        <%= render 'shared/calendar', posts: posts, only_artist: false %>
        <hr>
      </div>
    </div>