<div class="container form-title">
  <h1>Plan your campaign for <%= @album.name %> - <%= @album.artist.name %></h1>
  <h2> For a release on <%= @album.out_at.strftime("%d/%m/%Y") %>, you will have 6 posts to plan </h2>

  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <% @generated_posts.each_with_index do |post, i| %>
      <li class="nav-item" role="presentation">
        <a class="nav-link <%= 'active' if i == @tab_active %>" id="post-<%= i %>-tab" data-toggle="tab" href="#post-<%= i %>" ><%= l post.published_at.to_date, format: :short %> <%= '<i class="fas fa-check-circle"></i>'.html_safe if post.publishable? %> </a>
      </li>
    <% end %>
    <li> <%= link_to "Validate my campaign",  artist_path(@album.artist)+"?start_date=#{@generated_posts.first.published_at.strftime("%Y-%m-%d")}#calendar-anchor", class: "btn btn-primary validate-button" %> </li>
  </ul>

  <div class="tab-content" id="myTabContent">
    <% @generated_posts.each_with_index do |post, i| %>
      <div class="tab-pane fade <%= 'show active' if i == @tab_active %>" id="post-<%= i %>" role="tabpanel">
        <div class="container create-form d-flex justify-content-around mb-5" data-controller="preview">


          <div class="new-post-form">
            <%= simple_form_for([@album.artist, post], html: {multipart: true}) do |f| %>
              <div class="form-inputs">
                <%= f.input :album_id, as: :hidden %>
                <%= f.input :published_at, :label => "Will be posted on", html5: true, input_html: { "data-preview-target": "date", "data-action": "change->preview#getdate" }%>
                <%= f.input :title, :label => "Enter your post title", input_html: { "data-preview-target": "title", "data-action": "input->preview#gettitle" } %>
                <%= f.input :content, :label => "Enter your post content", input_html: { "data-preview-target": "content", "data-action": "input->preview#getcontent" } %>
                <div class="form-group file optional post_picture">
                  <label class="file optional toto" for="post_picture<%= i %>">
                    Select your post image <br>
                    <span class="btn btn-primary upload-button"> Upload a picture</span>
                  </label>
                  <input class="form-control-file file optional d-none" data-preview-target="image" data-action="change->preview#getimage" type="file" name="post[picture]" id="post_picture<%= i %>">
                </div>
                <%= f.submit "Save this content", class: "btn btn-primary create-button" %>
            <% end %>
              </div>
          </div>

            <div class="preview">
              <p class= "this-is-a-preview"> This is a preview of your post </p>
              <div class="header-preview">
                <%= cl_image_tag @album.artist.picture.key, class: "avatar mr-3" %>
                <div class="text">
                  <p> <%= @album.artist.name %> </p>
                  <div data-preview-target="previewDate" class="previewDate">
                    <%= post.published_at.strftime("%d %B %Y, at %H:%M") %>
                  </div>
                </div>
              </div>
              <div data-preview-target="previewTitle" class="previewTitle">
                <%= post.title %>
              </div>
              <div data-preview-target="previewContent" class="previewContent">
                <%= post.content %>
              </div>
              <% src = post.picture.attached? ? cl_image_path(post.picture.key) : "https://upload.wikimedia.org/wikipedia/commons/4/48/BLANK_ICON.png" %>
              <img src="<%=  src  %>" width="200" data-preview-target="previewImage" data-toremove="<%= i %>" class="previewImage">
              <div class="footer-preview">
                <div class="likes">
                  <img src="https://cdn.worldvectorlogo.com/logos/facebook-like.svg" alt="like">
                  <img src="https://www.vectorico.com/wp-content/uploads/2018/02/Facebook-Heart.png" alt="heart">
                  <img src="https://freepngimg.com/download/facebook/65441-emoticon-like-button-haha-facebook-emoji.png" alt="haha">
                  <p>369</p>
                </div>
                <div class="comments">
                  <p>150 comments</p>
                  <p>80 sharings</p>
                </div>
              </div>
            </div>
          </div>
      </div>
    <% end %>
  </div>
</div>







