<%= month_calendar(events: posts) do |date, posts| %>
  <%= date.day %>
  <% posts.each do |post| %>
    <div>
     <% if post.publishable? %>
        <i class="fas fa-check-circle"></i>
      <% else %>
        <i class="fas fa-times-circle"></i>
     <% end %>
     <%= post.published_at.strftime("%H:%M") %> <%= post.title %> <%= post.artist.name unless only_artist %>
    </div>
  <% end %>
<% end %>

