<div class="marge_base">

  <div class="card_banner_artist">
    <div class="title">
      <h2><strong> All your artists</strong> </h2>
    </div>
    <div class="card_position">
      <% @artists.each do |artist| %>
        <div class="card_artist">
          <div class="artist_name">
            <%= link_to artist.name, artist_path(artist) %>
          </div>
          <div class="pic_artist">
            <%= link_to artist_path(artist) do %>
              <%= cl_image_tag artist.picture.key%>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>


    <%= render "shared/display_calendar_planned", albums: @albums, posts: @posts %>


  <div class="stats">

    <h2 class="title"> Analytics </h2>
    <div id="graphstats">
      <canvas class="w-100" id="myGlobalChart" width="400" height="100" data-stats="<%= @stats.to_json %>" data-artists="<%= @array_artists %>"></canvas>
    </div>
  </div>


</div>
