<div class="marge_base">

  <div class="card_banner_artist">
    <div class="title">
      <h2><strong> All your artists</strong> </h2>
    </div>
    <div class="card_position">
      <% @artists.each do |artist| %>
        <div class="card_artist">
          <div class="artist_name">
            <%= link_to artist.name, artist_path(artist) %>
          </div>
          <div class="pic_artist"> 
            <%= link_to artist_path(artist) do %>
              <%= cl_image_tag artist.picture.key%>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
 
  
  <h2>Your planning this month</h2>
    <div class="display_cenlendar_planned"> 
      <div class="card_planned_display">
        <div class="planned_title"> 
          
          <h3><strong>STATUS WEEK <%= Date.today.strftime("%U") %> </strong> <h3>
        </div>
          <br>
            <h2><span class="badge badge-warning">TO BE UPDATED <i class="fas fa-exclamation-triangle"></i> </span></h2>
          <br>
        <p> <i class="far fa-edit"></i> : <strong> <%= @posts.current_week.select{ |p| !p.publishable? }.size %> </strong> 
        
  
        <h6>
          <div> 
            <% @posts.current_week.select{ |p| !p.publishable? }.each do |post| %>
            <strong> <%= post.published_at.strftime("%a-%H:%M") %> </strong>
            <strong> <%= post.artist.name %> </strong>
            <% end %>
          </div>
        </h6>
      <br>
        <h4> <i class="fas fa-compact-disc"></i> </h4> 
          <h6>
            <% @albums.each do |album| %>
              <div>  
                <%= link_to album.name, artist_album_path(album.artist, album) %>
                <strong><%= album.artist.name %></strong>
              </div>
            <% end %>
          </h6>

  <h1>Status = <span class="badge badge-success">UP TO DATE <i class="fas fa-check"></i> </span></h1>

      </div>
      <div class="calendar_display">
        <%= render 'calendar', posts: @posts, only_artist: false %>
        <hr>
      </div>
     </div>

  <hr>


<h2> Latest stats </h2>
<div>
  <canvas class="w-100" id="myGlobalChart" data-stats="<%= @stats.to_json %>" data-artists="<%= @array_artists %>"></canvas>
</div>
<hr>



<hr>


  <%= link_to 'Disconnect Facebook', disconnect_path %>

 </div>