<div class="marge_base">

  <div class="card_banner_artist">
    <div class="title">
      <h2><strong> All your artists</strong> </h2>
    </div>
    <div class="card_position">
      <% @artists.each do |artist| %>
        <div class="card_artist">
          <div class="pic_artist">
            <%= link_to artist_path(artist) do %>
              <%= cl_image_tag artist.picture.key%>
            <% end %>
          </div>
          <div class="artist_name">
            <%= link_to artist.name, artist_path(artist) %>
          </div>
        </div>
      <% end %>
    </div>
  </div>


  <h2>Your planning on <i class="fab fa-facebook dashboard" ></i></h2>
  <%= render "shared/display_calendar_planned", albums: @albums, posts: @posts %>



  <hr>


<h2 class="title">Engagement Rate </h2>
<h5>  Number of interactions on the FaceBook page </h5>
<h5>  (Sum of : "Like" / "Share" / "Click" / "Comment" ) </h5>
  <div id="graphstats">
  <canvas class="w-100" id="myGlobalChart" data-stats="<%= @stats.to_json %>" data-artists="<%= @array_artists %>"></canvas>
</div>
<hr>



<hr>


  <%= link_to 'Disconnect Facebook', disconnect_path %>

 </div>
