<div class="marge_base">

  <div class="card_banner_artist">
    <div class="title">
      <h2>All your artists</h2>
    </div>
    <div class="card_position">
      <% @artists.each do |artist| %>
        <div class="card_artist">
          <div class="pic_artist">
            <%= link_to artist_path(artist) do %>
              <%= cl_image_tag artist.picture.key%>
            <% end %>
          </div>
          <div class="artist_name">
            <%= link_to artist.name, artist_path(artist) %>
          </div>
        </div>
      <% end %>
    </div>
  </div>


  <%= render "shared/display_calendar_planned", albums: @albums, posts: @posts %>


  <div class="stats">
    <h2 class="title">Engagement Rate </h2>
    <div class="d-flex">
      <h5 class="mr-2">  Number of interactions on the FaceBook pages </h5>
      <p>  (Sum of : "Like" / "Share" / "Click" / "Comment" ) </p>
    </div>

    <div id="graphstats">
      <canvas class="w-100"  width="400" height="100" id="myGlobalChart" data-stats="<%= @stats.to_json %>" data-artists="<%= @array_artists %>"></canvas>
    </div>
  </div>
</div>
