<h2>Your planning this month</h2>

<%= render 'calendar', posts: @posts, only_artist: false %>

<hr>

<h2>Planned Today <%= Date.today.strftime("%d/%m/%Y") %> </h2>
<p>Here are the posts and events planned for today</p>

<ul>
  <% @today_posts.each do |post| %>
  <li>
    <%= post.published_at.strftime("%H:%M") %>
    <%= post.artist.name %>
    <%= post.title %>
    <%= post.content %>
  </li>
  <% end %>
</ul>

<hr>

<h2> All your artists </h2>

<% @artists.each do |artist| %>
  <%= cl_image_tag artist.picture.key, height: 300, width: 400, crop: :fill %>
  <%= link_to artist.name, artist_path(artist) %>
<% end %>

<hr>

<h2> Latest stats </h2>

<hr>

<%= link_to 'Disconnect Facebook', disconnect_path %>

