<div class="container">
  <h2>Your planning this month</h2>
    <div class="display_cenlendar_planned"> 
      <div class="calendar_display">
        <%= render 'calendar', posts: @posts, only_artist: false %>
        <hr>
      </div>
      <div class="planned_display">
          <h3>Planned this week 
          <p> 
            <%= Date.today.strftime("%d/%m/%Y") %> - <%= Date.today.next_week.strftime("%d/%m/%Y") %> 
          </p>
          </h3>
      <p>You have <%= @posts.current_week.select{ |p| !p.publishable? }.size %> posts to update</p>

        <ul>
          <% @posts.current_week.select{ |p| !p.publishable? }.each do |post| %>
          <li>
            <%= post.published_at.strftime("%H:%M") %>
            <%= post.artist.name %>
            <%= post.title %>
            <%= post.content %>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
  <h2> All your artists </h2>

  <div class="card_position">
    <% @artists.each do |artist| %>
      <div class="card_artist">
        <div class="artist_name">
          <%= link_to artist.name, artist_path(artist) %>
        </div>
        <div class="pic_artist"> 
          <%= link_to artist_path(artist) do %>
            <%= cl_image_tag artist.picture.key%>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <hr>


  <h2> Latest stats </h2>
  <div>
    <canvas class="w-100" id="myChart" data-stats="<%= @stats.to_json %>"></canvas>
  </div>
  <hr>

  <%= link_to 'Disconnect Facebook', disconnect_path %>

 </div>