<div class="preview-mod">
 <div class="header-preview-mod">
   <%= cl_image_tag post.artist.picture.key, class: "avatar mr-3" %>
   <div class="text-mod">
     <p> <%= post.artist.name %> </p>
     <div class="previewDate-mod">
       <%= post.published_at.strftime("%d %B %Y, at %H:%M") %>
     </div>
   </div>
 </div>
 <div class="previewTitle-mod">
   <%= post.title %>
 </div>
 <div class="previewContent-mod">
   <%= post.content %>
 </div>
 <div class="image-mod">
    <% if post.picture.attached? %>
      <%= cl_image_tag post.picture.key, width: 200 %>
    <% end %>
 </div>
 <div class="footer-mod">
   <div class="likes">
     <img src="https://cdn.worldvectorlogo.com/logos/facebook-like.svg" alt="like">
     <img src="https://www.vectorico.com/wp-content/uploads/2018/02/Facebook-Heart.png" alt="heart">
     <img src="https://freepngimg.com/download/facebook/65441-emoticon-like-button-haha-facebook-emoji.png" alt="haha">
     <p>369</p>
   </div>
   <div class="comments">
     <p>150 comments</p>
     <p>80 sharings</p>
   </div>
 </div>
</div>
