<div class="container login-container title">
  <h1> Add a post to your list </h1>

  <div data-controller="preview" class="create-form d-flex justify-content-around mb-5">
    <div class="new-post-form">
    <%= simple_form_for([@artist, @post], html: {multipart: true}) do |f| %>
      <div class="form-inputs">
        <%= f.input :title, :label => "Enter your post title", input_html: { "data-preview-target": "title", "data-action": "input->preview#gettitle" } %>
        <%= f.input :content, :label => "Enter your post content", input_html: { "data-preview-target": "content", "data-action": "input->preview#getcontent" } %>
        <div class="form-group file optional post_picture">
          <label class="file optional toto" for="post_picture">
            <span class="btn btn-primary upload-button"> Upload a picture</span>
          </label>
          <input class="form-control-file file optional d-none" data-preview-target="image" data-action="change->preview#getimage" type="file" name="post[picture]" id="post_picture">
        </div>
        <%= f.input :published_at, :label => "Choose a date and a time to publish", html5: true, input_html: { "data-preview-target": "date", "data-action": "change->preview#getdate" } %>
        <%= f.submit nil, class: "btn btn-primary create-button" %>
      <% end %>
      </div>
    </div>

    <div class="preview">
      <div class="header">
        <%= cl_image_tag @artist.picture.key, class: "avatar mr-3" %>
        <div class="text">
          <p> <%= @artist.name %> </p>
          <div data-preview-target="previewDate" class="previewDate">
          </div>
        </div>
      </div>
      <div data-preview-target="previewTitle" class="previewTitle">
      </div>
      <div data-preview-target="previewContent" class="previewContent">
      </div>
      <img src="https://upload.wikimedia.org/wikipedia/commons/4/48/BLANK_ICON.png" width="200" data-preview-target="previewImage" class="previewImage">
      <div class="footer">
        <div class="likes">
          <img src="https://lh3.googleusercontent.com/proxy/PDbtOsxN7SUIQQPK2k2WxBorRi5ukptkQ95V78HXQUJcZ8wbhqRs3SZI8MD9p8y7hJ30YIyvz2YcTxtmO0axU4snu5OT213ACJxHbLCge-5hoHGB3MeIHU-mwUFNiyc" alt="like">
          <img src="https://www.vectorico.com/wp-content/uploads/2018/02/Facebook-Heart.png" alt="heart">
          <img src="https://freepngimg.com/download/facebook/65441-emoticon-like-button-haha-facebook-emoji.png" alt="haha">
          <p>369</p>
        </div>
        <div class="comments">
          <p>150 comments</p>
          <p>80 sharings</p>
        </div>
      </div>
    </div>
  </div>
</div>
