<div class="container login-container">
  <h1> Add a post to your list </h1>

  <div data-controller="preview">
      <%= simple_form_for([@artist, @post]) do |f| %>
      <div class="form-inputs">
        <%= f.input :title, input_html: { "data-preview-target": "title", "data-action": "input->preview#gettitle" } %>
        <%= f.input :content, input_html: { "data-preview-target": "content", "data-action": "input->preview#getcontent" } %>
        <%= f.input :picture, as: :file, input_html: { "data-preview-target": "image", "data-action": "change->preview#getimage" } %>
        <%= f.input :published_at, html5: true, input_html: { "data-preview-target": "date", "data-action": "change->preview#getdate" } %>
        <%= f.submit %>
      <% end %>
      </div>

    <div class="preview">
      <div class="header">
        <%= cl_image_tag @artist.picture.key, class: "avatar mr-3" %>
        <div class="text">
          <p> <%= @artist.name %> </p>
          <div data-preview-target="previewDate" class="previewDate">
          </div>
        </div>
      </div>
      <div data-preview-target="previewTitle" class="previewTitle">
      </div>
      <div data-preview-target="previewContent" class="previewContent">
      </div>
      <img src="https://upload.wikimedia.org/wikipedia/commons/4/48/BLANK_ICON.png" width="200" data-preview-target="previewImage" class="previewImage">
    </div>
  </div>
</div>
