<!DOCTYPE html>
<html>
  <head>
    <title>MyManager</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>

  </head>

  <body id="body-pd">
    <%= render 'shared/flashes' %>
    <header class="header" id="header">
      <div class="header_toggle">
        <div type="button" id="header-toggle" class="fas fa-bars"></div>
      </div>
      <div class="header_img">
        <img src="https://i.imgur.com/hczKIze.jpg" alt="">
      </div>
    </header>
    <div class="l-navbar" id="nav-bar">
      <nav class="nav">
        <div>
          <a href="#" class="nav_logo">
            <i class='bx bx-layer nav_logo-icon'></i>
            <span class="nav_logo-name">MyManager</span>
          </a>
          <div class="nav_list">
            <a href="#" class="nav_link active">
              <i class="fas fa-home"></i>
              <span class="nav_name">Dashboard</span>
            </a>
            <a href="#" class="nav_link">
              <i class="fas fa-user"></i>
              <span class="nav_name">Users</span>
            </a>
            <a href="#" class="nav_link">
              <i class="far fa-envelope"></i>
              <span class="nav_name">Messages</span>
            </a>
            <a href="#" class="nav_link">
              <i class="far fa-bookmark"></i>
              <span class="nav_name">Bookmark</span>
            </a>
            <a href="#" class="nav_link">
              <i class="far fa-file"></i>
              <span class="nav_name">Files</span>
            </a>
            <a href="#" class="nav_link">
              <i class="fas fa-signal"></i>
              <span class="nav_name">Stats</span>
            </a>
          </div>
        </div>
        <a href="#" class="nav_link">
          <i class="fas fa-sign-out-alt"></i>
          <span class="nav_name">SignOut</span>
        </a>
      </nav>
    </div>
    <%= yield %>
  </body>
</html>

